---
import Social from './Social.astro';
const platform2 = "bilibili";

const bilibiliUsername = "1001376624?spm_id_from=333.1007.0.0";

---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="luckyang1" />
  <Social platform="youtube" username="astrodotbuild" />
  <p>在 <a href={`https://space.${platform2}.com/${bilibiliUsername}`}>{platform2}</a> 上，了解有关我的视频内容！</p>
</footer>
